.div
  = image_tag @photo.image.url(:medium)
  <br />
  <br />
  <strong>Tags :</strong>
  -if @photo.tags.length>0
    -@photo.tags.each do |tag|
      %span{:id => "posts-tag-email"} #{tag.user.email}
  <br>
  <br>
  = form_for @tag do |f|
    = f.hidden_field :photo_id, value: @photo.id
    = f.collection_select :user_id, @users, :id, :email
    <br>
    <br>
    = f.submit 'Add Tag',:class => "btn btn-primary small btn-xs"
  <hr>
  -if @imagePosts.select{ |comment| comment.image_id == @photo.id}.length >0
    <ul class="list-posts">
    - @imagePosts.each do |c|

      - if @photo.id == c.image_id
        <li>
        .row
          .col-lg-2
            = image_tag @users.select{|user| user.id == c.user_id}[0].avatar.url(:thumb), :class => "image-avatar-posts"
          .col-lg-10
            <label>#{@users.select{|user| user.id == c.user_id}[0].email}</label>
            <p>#{c.comment}</p>
        <hr>
        </li>
    </ul>
  = form_for Comment.new(), :url => comment_path(:image_id => @photo.id),:html => {:multipart => true}  do |form|
    = form.text_field :comment, placeholder:"Type a Comment..."
    <br>
    <br>
    = form.submit 'Add Comment',:class => "btn btn-primary small btn-sm", :placeholder => "Type a Comment..."
  <br>
  <button id="closeLink">Close</button>
