%link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity: "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin: "anonymous"}
.container-fluid.posts-content
  .row
    .col-lg-11
      =link_to 'Home', user_path(@user), class: ['btn', 'btn-primary']
      =link_to 'Users', all_users_path(@user), class: ['btn', 'btn-primary']
      =link_to 'Posts', posts_path(@user), class: ['btn', 'btn-primary']
    =link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn']

  %br/

  <h4 id="user-cards-title">All Posts</h4>
  .container-fluid.posts-images-content
    .row

      -@photos.select{|photo| photo.user_id!= nil}.sort{ |a, b| b.created_at.strftime("%s") <=> a.created_at.strftime("%s") }.each  do |photo|
        .col-md-2.posts-image
          -if @user.id == photo.user_id
            .text-right
              =link_to 'delete', delete_photo_path(:id => @user.id, :image_id => photo.id), class: ['btn','btn-sm', 'btn-danger']
          %strong= "#{photo.title}"
          <br>
          %span= "#{photo.created_at.strftime("%d-%m-%Y , %H:%M:%S")}"
          <br>
          = image_tag photo.image.url(:medium)
          <br>
          <br>
          <strong>Tags :</strong>
          -if photo.tags.length>0
            -photo.tags.each do |tag|
              %span{:id => "posts-tag-email"} #{tag.user.email}
          <br>
          <br>
          = form_for @tag do |f|
            = f.hidden_field :photo_id, value: photo.id
            = f.collection_select :user_id, @users, :id, :email
            <br>
            <br>
            = f.submit 'Add Tag',:class => "btn btn-primary small btn-xs"
          <hr>
          -#---------------------------------------------
          -if @comments.select{ |comment| comment.image_id == photo.id}.length >0
            <ul class="list-posts">
            - @comments.each do |c|

              - if photo.id == c.image_id
                <li>
                .row
                  .col-lg-2
                    = image_tag @users.select{|user| user.id == c.user_id}[0].avatar.url(:thumb), :class => "image-avatar-posts"
                  .col-lg-10
                    <label>#{@users.select{|user| user.id == c.user_id}[0].email}</label>
                    <p>#{c.comment}</p>
                <hr>
                </li>
            </ul>
          = form_for Comment.new(), :url => comment_path(:image_id => photo.id),:html => {:multipart => true}  do |form|
            = form.text_field :comment, placeholder:"Type a Comment..."
            <br>
            <br>
            = form.submit 'Send',:class => "btn btn-primary small btn-sm"
          <br>
  %br/
