<h1>Posts</h1>
<h2>#{@user.email}</h2>
- if @user.avatar_file_name
  = image_tag @user.avatar.url(:thumb)
<br>
.row
  - @user.photos.each  do |photo|
    .well.col-sm-4
      %h5= "#{photo.title}"
      = image_tag photo.image.url(:medium)
      = form_for @tag do |f|
        = f.hidden_field :photo_id, value: photo.id
        = f.collection_select :user_id, @users, :id, :email
        = f.submit "Tag User"
      - photo.tags.each do |tag|
        = tag.user.email
